@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
:root {
    --black: #53545C;
    --infoY: #FFCC91;
    --infoY2: #ffcc9133;
    --infoY3: #FEF5EA;
    --infoY4: #FFEAD1;
    --infoY5: #FFF2E2;
    --black2: #1C1D22;
    --black3: #45464E;
    --black4: #33343A;
    --danger-color: #CC5F5F;
    --danger-light-color: #f57e771f;
    --green: #519C66;
    --green-light: #32936f1f;
    /* main colors  */
    --primary-color: #5570F1;
    --primary-light-color: #5570f114;
    --primary-light-color2: #DAE3FF;
    --primary-thick-color: #0061F7;
    --tertiary-color: #FF96CC;
    --normal-radius: .8rem;
    font-size: 62.5%;

    --textLight: #DBDEEE;
    --textLight2: #B6BFE8;

    --label-color: #5e63661a;
    --label-second-color: #6E7079;
    --label-third-color: #8B8D97;
    --label-fouth-color: #BEC0CA;
    --label-fifth-color: #A6A8B1;

    --border1: #F1F3F9;
    --border2: #cfd3d4;
    --border3: #E1E2E9;

    --placeholder: #ABAFB1;
    --tag-status: #C4CAE8;

    --hover1: #F7F7FC;
    --hover2: #F4F5FA;

}

@font-face {
    font-family: 'Grotesk';
    src: url(../font/SpaceGrotesk[wght].ttf) format('truetype');
}

html {
    scroll-behavior: smooth;
}

html:has(.auth-page-container) {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

body {
    font-size: 1.6rem;
    background-color: var(--hover2);
}

* {
    font-family: 'Grotesk', sans-serif !important;
    word-wrap: break-word;
    word-break: break-word;
    transition: all 0.2s ease-in-out;
}

a {
    text-decoration: none;
}


/* for other browsers  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* for firefox  */
input[type="number"] {
    -moz-appearance: textfield;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
    /* background: var(--black2); */
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    /* border-radius: 10px; */
}

.mobileburger,
.mobilePanel {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

section.content {
    animation: transIn 0.2s linear 0s;
}

@keyframes transIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}