// navogation drawer
.navContent {
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
    & > div {
        border-radius: 12px;
        grid-gap: 16px;
        padding: 16px 20px;
        & > div {
            &:first-child {
                min-width: max-content;
                svg {
                    width: 2rem;
                    height: 2rem;
                    path, circle {
                        &.fill {
                            fill: var(--black2);
                        }
                    }
                }
            }
            &:nth-child(2) {
                span {
                    color: var(--black2);
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}
